@font-face {
    font-family: TanhaText;
    src: url(./font/Tanha.woff2);
}

@font-face {
    font-family: ShabnamTitle;
    src: url(./font/Shabnam-Bold.woff2)
}

body {
    background-color: #181818;
    color: #f8f8f8;
}

.container {
    font-family: TanhaText;
    width: 70%;
    margin: auto;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #585858;
    border-radius: 5px;
}

.navitem {
    float: right;
}

.navitem > a{
    transition: 0.5s;
    color: inherit;
    text-decoration: none;
    text-align: center;
    font-family: ShabnamTitle;
    display: block;
    padding: 10px 12px;
}

.navitem > a:hover {
    background-color: #a1b56c;
    color: #181818;
    transition: 0.5s;
}

.flashmsg {
    text-align: center;
    width: 50%;
    margin: auto;
    border-radius: 5px;
}

.flashmsg > h3 {
    padding: 10px;
}

.warning {
    background-color: #ab4642;
    color: #f8f8f8;
}

.success {
    background-color: #a1b56c;
    color: #181818;
}

.formsec {
    width: 70%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
}


.formsec > form {
    border-right: 2px solid #585858;
    padding-right: 5%;
    text-align: right;

}


.formsec > form > label {
    font-size: 32px;
}


.formsec > form > input {
    font-size: 20px;
    text-align: left;
}


.formleft {
    display: inline-block;
    float: left;
}


.textinput {
    background-color: inherit;
    color: #f8f8f8;
    outline: 0;
    border-width: 0 0 1px;
    border-color: #7cafc2;
}


.submitinput {
    transition: 0.5s;
    border: none;
    background-color: #7cafc2;
    font-family: TanhaText;
    cursor: pointer;
    border-radius: 5px;
    float: left;
}


.submitinput:hover {
    background-color: #a1b56c;
    transition: 0.5s;
}


.seller_row {
    padding: 10px;
    width: 90%;
    margin: auto;
}


.sdescription {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
}


.sname {
    display: inline;
    float: right;
    margin: 0;
    padding: 0;
    padding-right: 8px;
}


.postsec {
    text-align: center;
}


.postsec > form > label {
    font-size: 20px;
}

.postsec > form > input[type="text"] {
    font-size: 20px;
    font-family: TanhaText;
    width: 60%;
}


.postsec > form > textarea {
    font-size: 20px;
    font-family: TanhaText;
    display: block;
    margin: auto;
    width: 80%;
    height: 400px;
    resize: none;
}


.postsec {
    width: 90%;
    margin: auto;
    text-direction: rtl;
    background-color: #202020;
    border-radius: 5px;
}


.postsec > h1 {
    font-family: ShabnamTitle;
    padding: 15px;
}


.postsec > p {
    font-size: 20px;
    text-align: right;
    padding: 15px;
}


.commentsec {
    width: 90%;
    margin: auto;
    text-direction: rtl;
    padding-right: 50px;
}


.commentsec > form > textarea {
    font-size: 15px;
    font-family: TanhaText;
    width: 80%;
    resize: none;
}


.comment {
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 70%;
    float: right;
    border-radius: 5px;
    background-color: #202020;
}


.productsec {
    padding: 15px;
    display: inline-block;
    width: 40%;
    float: right;
}


.productsec > h1 {
    font-family: ShabnamTitle;
}


.productsec > p {
    font-family: TanhaText;
    font-size: 20px;
    text-align: right;
    padding: 15px;
}


.productpic {
    font-family: ShabnamTitle;
    padding: 15px;
    display: inline-block;
    width: 40%;
    float: left;
}


.productpic > img {
    max-width: 100%;
    border-radius: 5px;
}


.bottomproduct {
    padding-top: 50px;
    display: inline-block;
}
