{% extends "layout.html" %}
{% block content %}
<br>
{% for post in posts %}
    <div class="seller_row">
        <h3 class="sname">{{ post.ptitle }}</h3>
        <br>
        <h4>{{ post.pcontent[:400] }}...</h4>
        <a href="{{ url_for('blog_blueprint.display_post', slug=post.pslug) }}"
           style="color: inherit; text-decoration: none;">ادامه مطلب</a>
        <br>
        <br>
    </div>
    <br>
{% endfor %}
{% endblock content %}
