<!DOCTYPE html>
<html lang="fa" dir="rtl">
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/FavIcon.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">

        {% if title %}
            <title>پاییز - {{ title }}</title>
        {% else %}
            <title>پاییز</title>
        {% endif %}
    </head>
    <body>
        <div class="container">
            {% with messages = get_flashed_messages(True) %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="flashmsg {{ message[0] }}">
                            <h3>{{ message[1] }}</h3>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <ul class="navbar">
                <li class="navitem"><a href="{{ url_for('index') }}">خانه</a></li>
                <li class="navitem"><a href="{{ url_for('shop_blueprint.shop_app_index') }}">فروشگاه</a></li>
                {% if role() == 'Admin' %}
                    <li class="navitem"><a href="{{ url_for('user_blueprint.list_sellers') }}">مدیریت‌فروشنده‌ها</a></li>
                    <li class="navitem"><a href="{{ url_for('blog_blueprint.list_posts') }}">مدیریت‌پست‌ها</a></li>
                    <li class="navitem"><a href="{{ url_for('blog_blueprint.create_post') }}">پست‌چدید</a></li>
                    <li class="navitem"><a href="{{ url_for('user_blueprint.logout') }}">خروج</a></li>
                {% endif %}
                {% if role() == 'Seller' %}
                    <li class="navitem"><a href="{{ url_for('shop_blueprint.list_products') }}">مدیریت‌محصولات</a></li>
                    <li class="navitem"><a href="{{ url_for('shop_blueprint.create_product') }}">محصول‌جدید</a></li>
                    <li class="navitem"><a href="{{ url_for('blog_blueprint.list_posts') }}">مدیریت‌پست‌ها</a></li>
                    <li class="navitem"><a href="{{ url_for('blog_blueprint.create_post') }}">پست‌جدید</a></li>
                    <li class="navitem"><a href="{{ url_for('user_blueprint.logout') }}">خروج</a></li>
                {% endif %}
                {% if role() == 'User' %}
                    <li class="navitem"><a href="{{ url_for('shop_blueprint.user_basket') }}">سبدخرید</a></li>
                    <li class="navitem"><a href="{{ url_for('user_blueprint.logout') }}">خروج</a></li>
                {% endif %}
                {% if not role() %}
                    <li class="navitem"><a href="{{ url_for('user_blueprint.user_signup') }}">ثبت‌نام‌کاربر</a></li>
                    <li class="navitem"><a href="{{ url_for('user_blueprint.seller_signup') }}">ثبت‌نام‌فروشنده</a></li>
                    <li class="navitem"><a href="{{ url_for('user_blueprint.login') }}">ورود</a></li>
                {% endif %}
            </ul>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
