{% extends "layout.html" %}
{% block content %}
<div class="formsec">
    <form action="{{ url_for('shop_blueprint.create_product') }}" method="POST" enctype="multipart/form-data">
        <label>نام محصول:</label>
        <input type="text" name="name" class="textinput formleft" required autocomplete="off">
        <br>
        <br>
        <label>توصیحات:</label>
        <textarea class="textinput" name="description" required autocomplete="off"
                  style="font-seize: 15px; font-family: TanhaText; width: 60%; resize: none;
                  display: inline-block; float: left;"></textarea>
        <br>
        <br>
        <label>تصویر:</label>
        <input type="file" name="picture" style="margin-right: 30%;" required>
        <br>
        <br>
        <label>قیمت به تومان:</label>
        <input type="text" name="price" class="textinput formleft" required autocomplete="off">
        <br>
        <br>
        <label>دسته بندی:</label>
        <input type="text" name="category" class="textinput formleft" required autocomplete="off">
        <br>
        <br>
        <input type="submit" value="انتشار" class="submitinput" required autocomplete="off">
    </form>
</div>
{% endblock content %}
