{% extends "layout.html" %}
{% block content %}
<div class="productsec">
    <br>
    <h1>{{ product.pname }}</h1>
        <h4>محصولی از {{ product.product_seller.sname }}</h4>
    <p>{{ product.pdescription }}</p>
    <h4>قیمت: {{ product.pprice }}</h4>
</div>
<div class="productpic">
    <img src="{{ url_for('static', filename='img/productpics/'+product.ppname) }}">
    {% if role() == 'User' %}
    <form action="{{ url_for('shop_blueprint.add_to_basket', productid=product.pid) }}" method="POST">
        <br>
        <input type="submit" value="افزودن به سبد خرید" class="submitinput" style="font-size: 20px;">
    </form>
    {% else %}
        <h4>برای سفارش این محصول باید وارد شوید.</h4>
    {% endif %}
</div>
<br>
<div class="commentsec bottomproduct">
    {% if role() == 'User' %}
        <form action="{{ url_for('shop_blueprint.submit_product_comment', productid=product.pid) }}" method="POST">
            <h4>نظر شما درباره این محصول:</h4>
            <textarea name="comment" class="textinput" required autocomplete="off" ></textarea>
            <br>
            <input type="submit" value="انتشار" class="submitinput" style="font-size: 20px; margin-left: 30px;">
        </form>
    {% else %}
        <h4>برای درج دیدگاه باید وارد شوید.</h4>
    {% endif %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% for comment in product.product_comments %}
        <div class="comment">
            <h4>{{ comment.comment_user.uname }}</h4>
            <p>{{ comment.ccontent }}</p>
        </div>
    {% endfor %}
</div>
{% endblock content %}
