{% extends "layout.html" %}
{% block content %}
<br>
{% for product in products %}
    <div class="seller_row">
        <div style="width: 50%; display: inline-block; float: right;">
            <h3 class="sname">{{ product.pname }}</h3>
            <h4 class="sdescription">{{ product.pprice }}</h4>
        </div>
        <form action="{{ url_for('shop_blueprint.delete_product', productid=product.pid) }}" method="POST">
            <input type="submit" value="حذف" class="submitinput">
        </form>
        <br>
    </div>
    <br>
{% endfor %}
{% endblock content %}
