{% extends "layout.html" %}
{% block content %}
<br>
{% for product in products %}
    <div class="seller_row">
        <div style="width: 50%; display: inline-block; float: right;">
            <h3 class="sname">{{ product.pname }}</h3>
            <h4 class="sdescription">{{ product.pdescription[:20] }}</h4>
        </div>
        <a href="{{ url_for('shop_blueprint.display_product', slug=product.pslug) }}"
           style="color: inherit; text-decoration: none; float: left;">مشاده محصول</a>
        <br>
    </div>
    <br>
{% endfor %}
{% endblock content %}
