{% extends "layout.html" %}
{% block content %}
<br>
{% for item in user_items %}
    <div class="seller_row">
        <div style="width: 50%; display: inline-block; float: right;">
            <h3 class="sname">{{ item.pname }}</h3>
            <h4 class="sdescription">{{ item.pprice }}</h4>
        </div>
        <form action="{{ url_for('shop_blueprint.remove_from_basket', productid=item.pid) }}" method="POST">
            <input type="submit" value="حذف" class="submitinput"
            style="display: inline; float: left;">
        </form>
        <br>
    </div>
    <br>
{% endfor %}
{% endblock content %}
