{% extends "layout.html" %}
{% block content %}
<br>
{% for seller in sellers %}
    <div class="seller_row">
        <div style="width: 50%; display: inline-block; float: right;">
            <h3 class="sname">{{ seller.sname }}</h3>
            <h4 class="sdescription">{{ seller.sdescription }}</h4>
        </div>
        <form action="{{ url_for('user_blueprint.change_postperm', sid=seller.sid) }}" method="POST">
        {% if seller.spostperm == 1 %}
            <input type="submit" value="گرفتن مجوز پست" class="submitinput">
        {% else %}
            <input type="submit" value="دادن مجوز پست" class="submitinput"
            style="display: inline; float: left;">
        {% endif %}
        </form>
        <form action="{{ url_for('user_blueprint.remove_seller', sid=seller.sid) }}" method="POST">
            <input type="submit" value="پاک کردن حساب فروشنده" class="submitinput"
            style="display: inline; float: left; margin-left: 5px;">
        </form>
        <br>
    </div>
    <br>
{% endfor %}
{% endblock content %}
