{% extends "layout.html" %}
{% block content %}
<div class="formsec">
    <br>
    <br>
    <h2>فرم ورود</h2>
    <br>
    <form action="{{ url_for('user_blueprint.login') }}" method="POST">
        <label>ای-میل:</label>
        <input type="email" name="email" class="textinput formleft" required autocomplete="off">
        <br>
        <br>
        <label>رمز عبور:</label>
        <input type="password" name="password" class="textinput formleft" required autocomplete="off">
        <br>
        <br>
        <label>مدیر</label>
        <input type="radio" name="role" value="Admin" required>
        <label>&nbsp فروشنده</label>
        <input type="radio" name="role" value="Seller" required>
        <label>&nbsp کاربر</label>
        <input type="radio" name="role" value="User" required>
        <br>
        <br>
        <input type="submit" value="ورود" class="submitinput">
    </form>
</div>
{% endblock content %}
