{% extends "layout.html" %}
{% block content %}
<div class="formsec">
    <br>
    <br>
    <h2>فرم ثبت نام کاربر</h2>
    <br>
    <form action="{{ url_for('user_blueprint.user_signup') }}" method="POST">
        <label>نام:</label>
        <input type="text" name="name" class="textinput formleft" required autocomplete="off">
        <br>
        <br>
        <label>ای-میل:</label>
        <input type="email" name="email" class="textinput formleft" required autocomplete="off">
        <br>
        <br>
        <label>رمز عبور:</label>
        <input type="password" name="password" class="textinput formleft" required autocomplete="off">
        <br>
        <br>
        <input type="submit" value="ثبت نام" class="submitinput">
    </form>
</div>
{% endblock content %}
