{% extends "layout.html" %}
{% block content %}
<div class="postsec">
    <br>
    <form action="{{ url_for('blog_blueprint.create_post') }}" method="POST">
        <label>تیتر</label>
        <br>
        <br>
        <input type="text" name="title" class="textinput" autocomplete="off">
        <br>
        <br>
        <label>محتوا</label>
        <br>
        <br>
        <textarea name="content" class="textinput" required autocomplete="off"></textarea>
        <br>
        <input type="submit" value="انتشار" class="submitinput" style="font-size: 20px;">
    </form>
</div>
{% endblock content %}
