{% extends "layout.html" %}
{% block content %}
<br>
<div class="postsec">
    <br>
    <h1>{{ post.ptitle }}</h1>
    {% if post.admin_obj %}
        <h4>نوشته شده توسط مدیریت</h4>
    {% else %}
        <h4>نوشته شده توسط {{ post.seller_obj.sname }}</h4>
    {% endif %}
    <p>{{ post.pcontent }}</p>
</div>
<br>
<div class="commentsec">
    {% if role() == 'User' %}
        <form action="{{ url_for('blog_blueprint.submit_post_comment', postid=post.pid) }}" method="POST">
            <h4>نظر شما درباره این نوشته:</h4>
            <textarea name="comment" class="textinput" required autocomplete="off" ></textarea>
            <br>
            <input type="submit" value="انتشار" class="submitinput" style="font-size: 20px; margin-left: 30px;">
        </form>
    {% else %}
        <h4>برای درج دیدگاه باید وارد شوید.</h4>
    {% endif %}
    <br>
    <br>
    <br>
    <br>
    <br>
    {% for comment in post.post_comments %}
        <div class="comment">
            <h4>{{ comment.comment_user.uname }}</h4>
            <p>{{ comment.ccontent }}</p>
        </div>
    {% endfor %}
<div>
{% endblock content %}
