{% extends "layout.html" %}
{% block content %}
<br>
{% for post in posts %}
    <div class="seller_row">
        <div style="width: 50%; display: inline-block; float: right;">
            <h3 class="sname">{{ post.ptitle }}</h3>
        </div>
        <form action="{{ url_for('blog_blueprint.delete_post', postid=post.pid) }}" method="POST">
            <input type="submit" value="حذف" class="submitinput">
        </form>
        <br>
    </div>
    <br>
{% endfor %}
{% endblock content %}
